<div class="col-md-3 mt-4">
    <div class="dash-left">
        <ul>
            <li class="active"><a href="/admin/dashboard" class="active nav-link">Dashboard</a></li>
            <li><a href="/admin/blogdisplay" class="">Display Blog</a></li>
            <li><a href="/admin/categorydisplay" class="">Categories</a></li>
            <li><a href="/admin/contactdisplay" class="">Contact</a></li>
            <li><a href="/admin/aboutdisplay" class="">About</a></li>
            <li><a href="/login" class="">Logout</a></li>
            
        </ul>

    </div>
</div>