<%- include('./header.ejs') %>
   <!-- about us section start -->
   <div class="container-fluid">
    <div class="container">
        <h1 class="text-center mt-5">About us
        </h1>
        <br>
        <div class="row">
            <div class="col-md-8">

                <p class=" justify-content-center">  At vikas dubey kanpurwale Restaurants, we leave no stone unturned to provide the most desirable experience across markets and restaurants. Serving over five lakh customers monthly with 15+ brands and 35+ restaurants, our brands like Diablo, Plum by Bent Chair, Dragonfly Experience, Tamasha, Daddy, JLWA, and more have revolutionized the experience of dining & nightlife for everyone. Exploring a franchise with First Fiddle Restaurants provides you with a large existing customer base besides the added advantage of nation-wide recognition.</p>
                <a href="" class="btn btn-info">Read more</a>

            </div>
            <div class="col-md-4 text-center">

                <img src="image/Dr Anand.jpg" class="w-75   shadow-lg">
            </div>
            

        </div><!--row end-->
    </div><!--container end-->
</div><!--container-fluid end-->
<%- include('./footer.ejs') %>